@import "sass/style.scss";
@import "./Components/Header/Header.scss";
@import "./Components/ContactUs/ContactUs.scss";
@import "./Components/Hero/Hero.scss";
@import "./sass/ContactUsPage.scss";
@import "./Components/Loader/Loader.module.scss";
@import "./Components/TeamCard/TeamCard.scss";
@import "./Components/AboutUs/AboutUs.scss";
@import "./Components/Footer/Footer.scss";
@import "./Components/SectionContainer/SectionContainer.scss";
@import "./sass/Partners.scss";
@import "./Components/PartnerCard/partnerCard.scss";
@import "./Components/News/News.scss";
@import "./sass/NewsPageItem.scss";
@import "./Components/CapabilitiesItem/CapabilitiesItem.scss";
body {
  cursor: url("./assets/double-helix-svgrepo-com.svg") 16 16, auto;
  padding: 0;
  margin: 0;
  font-family: $secondaryFont;
  &.team-open {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.56);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
  }
}
.container {
  width: 95%;
  margin: auto;
}

.test2 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  &::after {
    content: " News";
    color: #0f7f40;
  }
}
.newsBlocks {
  // @include flex(row, wrap, space-between);
  &__Iframe {
    width: 80% !important;
    min-height: 400px;
    text-align: justify;
    border: 2px solid #201e5f;
    padding: 10px;
    margin: 10px auto;
    border-radius: 15px;
    display: block !important;
    @media #{$mobile} {
      width: 70% !important;
      margin: 10px auto;
    }
  }
}

.slick-dots {
  bottom: -30px !important;
}
.slick-dots li button:before {
  font-size: 14px !important;
}

.slick-arrow {
  &.slick-next {
    right: 100px;
    @media #{$mobile} {
      right: 10px !important;
    }
    &::before {
      color: #201e5f;
      font-size: 30px;
      @media #{$mobile} {
        font-size: 20px;
      }
    }
  }
  &.slick-prev {
    @media #{$mobile} {
      left: 10px;
    }
    left: 100px;
    z-index: 1;
    &::before {
      color: #201e5f;
      font-size: 30px;
      @media #{$mobile} {
        font-size: 20px;
      }
    }
  }
}

.capabilities {
  @include flex(row, wrap, space-between);
  width: 70%;
  margin: auto;
}
